<div class="pull-left" style="padding: 10px;">
  <a href="{{ STATIC_URL }}/media/photo_dome.jpg">
    <img src="{{ STATIC_URL }}/media/photo_dome_small.jpg" class="img-thumbnail">
  </a>
</div>

<p class="text-justify">
  The Mini-MegaTORTORA (MMT) system is a novel multi-purpose wide-field
  monitoring instrument built for and owned by the Kazan Federal University,
  presently operated under an agreement between Kazan Federal University and
  Special Astrophysical Observatory, Russia.
</p>

<p class="text-justify">
It includes a set of nine individual channels installed in pairs on five equatorial mounts.
Every channel has a celostate mirror installed before the Canon
EF85/1.2 objective for a rapid (faster than 1 second) adjusting of the
objective direction in a limited range (approximately 10 degrees to any
direction). This allows for either mosaicking the larger field of view, or for
pointing all the channels in one direction. In the latter regime, a set of
color (Johnson's B, V or R) and polarimetric (three different directions)
filters may be inserted before the objective to maximize the information
acquired for the observed region of the sky (performing both three-color
photometry and polarimetry).
</p>

<p class="text-justify">
The channels are equipped with an Andor Neo sCMOS detector having 2560x2160
pixels 6.4um each. Field of view of a channel is roughly 9x11 degrees with
angular resolution of roughly 16'' per pixel.
The detector is able to operate with exposure times as small as 0.03 s, in our
work we use 0.1 s exposures providing us with 10 frames per second.
</p>

<div class="pull-right" style="padding: 10px;">
  <a href="{{ STATIC_URL }}/media/mmt_jun30.jpg">
    <img src="{{ STATIC_URL }}/media/mmt_jun30_small.jpg" class="img-thumbnail">
  </a>
</div>

<p class="text-justify">
The Mini-MegaTORTORA (MMT) instrument is operational since Jun 2014 and shows the
performance close to the expected. We hope it will be useful for studying
various phenomena on the sky, both astrophysical and artificial in origin.
We expect it to be used for studying faint meteoric streams crossing Earth
orbit, for detecting new comets and asteroids, for finding flashes of flaring
stars and novae, studying variable stars of various classes, detecting transits
of exoplanets, searching for bright supernovae and optical counterparts of
gamma-ray bursts. 
</p>

<p class="text-justify">
The novelty of the MMT is its ability to re-configure itself from a wide-field
to narrower-field instrument, which may open new ways of studying the sky, as
it may, in principle, autonomously perform thorough study of objects it
discovers - to simultaneously acquire three-color photometry and polarimetry of
them.
</p>
