{% extends "template.html" %}

{% load endless %}
{% load filters %}

{% block ptitle %}Images : MMT Archive {% endblock %}

{% block title %}
Images
{% if query_type == 'positional' %}
in {{ sr }} deg around ({{ ra }}, {{ dec }})
{% elif query_type == 'night' %}
for night {{ night }}
{% endif %}
/ {{ type }}
{% endblock %}

{% block content %}

{% if types %}
<div class="pagination">
  <div class="btn-group">
    <span class="btn btn-default btn-sm disabled">Filter:</span>
    {% for type1 in types %}
    {% if query_type == 'positional' %}
    <a class="btn btn-default btn-sm {% if type == type1 %} disabled {% endif %}" href="/images/coords/{{ ra }}/{{ dec }}/{{ sr }}/type/{{ type1 }}{% if request.GET %}?{{ request.GET|GET_remove:"page"|GET_urlencode }}{% endif %}">{{ type1 }}</a>
    {% else %}
    <a class="btn btn-default btn-sm {% if type == type1 %} disabled {% endif %}" href="/images{% if night %}/night/{{ night }}{% endif %}/{{ type1 }}{% if request.GET %}?{{ request.GET|GET_remove:"page"|GET_urlencode }}{% endif %}">{{ type1 }}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}

{% if channels %}
<div class="pagination">
  <div class="btn-group">
    <span class="btn btn-default btn-sm disabled">Channel:</span>
    {% for channel in channels %}
      {% with text="channel="|add:channel %}
        <a class="btn btn-default btn-sm {% if request.GET.channel == channel %} disabled {% endif %}" href="?{{ request.GET|GET_remove:"channel"|GET_append:text|GET_urlencode }}">{{ channel }}</a>
      {% endwith %}
    {% endfor %}
    <a class="btn btn-default btn-sm" href="?{{ request.GET|GET_remove:"channel"|GET_urlencode }}">All</a>
  </div>
</div>
{% endif %}

{% paginate 10 images %}
<table class="table table-striped table-condensed">
  <tr>
    <th>Id</th><th>Time, UT</th><th>Night</th><th>Type</th><th>Target</th><th>RA</th><th>Dec</th><th>Filter</th><th>Channel</th><th>Preview</th><th></th>
  </tr>
    {% for image in images %}
  <tr>
    <td><a href="/images/{{ image.id }}/" title="View image details"><span class="glyphicon glyphicon-picture"></span> {{ image.id }}</a></td>
    <td>{{ image.time|date:"Y-m-d H:i:s" }}</td>
    <td><a href="/images/night/{{ image.night }}{% if type %}/{{ type }}{% endif %}">{{ image.night }}</td>
    <td>{{ image.type }}</td>
    <td>{{ image.keywords.TARGET }}</td>
    <td>{{ image.ra0 }}</td>
    <td>{{ image.dec0 }}</td>
    <td>{{ image.filter_string }}</td>
    <td>{{ image.channel_id }}</td>
    <td><a href="/images/{{ image.id }}/" title="View image details">
        <img src="/images/{{ image.id }}/preview" class="img-thumbnail">
    </a></td>
    <td><a href="/images/{{ image.id }}/download" title="Download FITS"><span class="glyphicon glyphicon-floppy-disk"></span> </a></td>
  </tr>
  {% endfor %}
</table>

{% show_pages %}

{% endblock %}
