{% extends "template.html" %}

{% load endless %}

{% block ptitle %}Links : MMT Archive{% endblock %}

{% block title %}Links{% endblock %}

{% block content %}

<ul class="list-group">
  <li class="list-group-item">
    Central control:
    <a href="http://192.168.16.140/beholder">Beholder</a>
    <a href="http://192.168.16.140/">Archive</a>
    <a href="http://192.168.16.140:9001/">Supervisor</a>
  </li>

  <li class="list-group-item">
    Allsky + Meteo:
    <a href="http://192.168.16.132/">Current + Archive</a>
    <a href="http://192.168.16.132:9001/">Supervisor</a>
  </li>

  <li class="list-group-item">
    Mount 1:
    <a href="http://192.168.16.134/">MOXA</a>
    <a href="http://192.168.16.141/mount">Mount</a>
  </li>
  <li class="list-group-item">
    Channel 1:
    <a href="http://192.168.16.141/channel">Channel</a>
    <a href="http://192.168.16.141/">Archive</a>
    <a href="http://192.168.16.141:9001/">Supervisor</a>
  </li>
  <li class="list-group-item">
    Channel 2:
    <a href="http://192.168.16.142/channel">Channel</a>
    <a href="http://192.168.16.142/">Archive</a>
    <a href="http://192.168.16.142:9001/">Supervisor</a>
  </li>

  <li class="list-group-item">
    Mount 2:
    <a href="http://192.168.16.135/">MOXA</a>
    <a href="http://192.168.16.143/mount">Mount</a>
  </li>
  <li class="list-group-item">
    Channel 3:
    <a href="http://192.168.16.143/channel">Channel</a>
    <a href="http://192.168.16.143/">Archive</a>
    <a href="http://192.168.16.143:9001/">Supervisor</a>
  </li>
  <li class="list-group-item">
    Channel 4:
    <a href="http://192.168.16.144/channel">Channel</a>
    <a href="http://192.168.16.144/">Archive</a>
    <a href="http://192.168.16.144:9001/">Supervisor</a>
  </li>

  <li class="list-group-item">
    Mount 3:
    <a href="http://192.168.16.136/">MOXA</a>
    <a href="http://192.168.16.145/mount">Mount</a>
  </li>
  <li class="list-group-item">
    Channel 5:
    <a href="http://192.168.16.145/channel">Channel</a>
    <a href="http://192.168.16.145/">Archive</a>
    <a href="http://192.168.16.145:9001/">Supervisor</a>
  </li>
  <li class="list-group-item">
    Channel 6:
    <a href="http://192.168.16.146/channel">Channel</a>
    <a href="http://192.168.16.146/">Archive</a>
    <a href="http://192.168.16.146:9001/">Supervisor</a>
  </li>

  <li class="list-group-item">
    Mount 4:
    <a href="http://192.168.16.137/">MOXA</a>
    <a href="http://192.168.16.147/mount">Mount</a>
  </li>
  <li class="list-group-item">
    Channel 7:
    <a href="http://192.168.16.147/channel">Channel</a>
    <a href="http://192.168.16.147/">Archive</a>
    <a href="http://192.168.16.147:9001/">Supervisor</a>
  </li>
  <li class="list-group-item">
    Channel 8:
    <a href="http://192.168.16.148/channel">Channel</a>
    <a href="http://192.168.16.148/">Archive</a>
    <a href="http://192.168.16.148:9001/">Supervisor</a>
  </li>

  <li class="list-group-item">
    Mount 5:
    <a href="http://192.168.16.138/">MOXA</a>
    <a href="http://192.168.16.149/mount">Mount</a>
  </li>
  <li class="list-group-item">
    Channel 9:
    <a href="http://192.168.16.149/channel">Channel</a>
    <a href="http://192.168.16.149/">Archive</a>
    <a href="http://192.168.16.149:9001/">Supervisor</a>
  </li>
</ul>

{% endblock %}
